.guest-list-body{
    /* color: white; */
    background-color: #20111e;
}

.guest-list{
    background-color: #d2cfd2;
    border-radius: 15px;
    /* padding: 20px; */
}

.guest-list-item{
    border-radius: 15px;
    padding: 10px;
}

.guest-list-text {
    color: #fad974;
}

.guest-list-submenu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

