

.add-event-modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.add-event-modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
    background-color: #fad974;
    border-radius: 15px;
}

.add-event-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);

}

.add-event-modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.add-event-modal-title{
    color: white;
    margin: 0;
}

.add-event-modal-body{
    padding: 10px;
    border-radius: 15px;

}

