.event-list-body{
    /* color: white; */
    background-color: #20111e;
}

.event-list{
    background-color: #d2cfd2;
    border-radius: 15px;
    padding: 20px;
}

.event-list-item{
    border-radius: 15px;
    padding: 10px;
}

.event-list-text {
    color: #fad974;
}