.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App-body {
  background-color: #20111e;

} */

.fload-add-button {
  color:  #fad974;
  background-color:  #fad974;
}

.fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px; 
}

